@CHARSET "UTF-8";
.container {
	width: 100%;
}

.header-nav {
	width: 100%;
	margin: 0 auto;
	height: 32px;
	background: #33b3a1;
	text-align: center;
}

.header-nav a {
	text-align: center;
	line-height: 32px;
	font-size: 18px;
	color: #fff;
	font-family: "Consolas", "微软雅黑", "Arial";
}

.content-top {
	width: 100%;
	height: 160px;
	background: #eee;
	border-bottom: 2px solid #999;
	line-height: 160px;
}

.content-top span.top-grid {
	margin-top: 20px;
	display: inline-block;
	width: 100%;
}

.content-top .chat-title {
	width: 120px;
	height: 120px;
	color: #fff;
	background: #33b3a1;
	border-radius: 60px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	text-align: center;
	line-height: 120px;
	font-size: 40px;
	display: inline-block;
	margin-left: calc(50% - 120px);
	margin-left: -webkit-calc(50% - 120px);
	margin-left: -moz-calc(50% - 120px);
	transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
}

.content-top .chat-title:hover {
	background: #2cc6b0;
}

.content-top .chat-add {
	min-width: 60px;
	width: 60px;
	height: 40px;
	background: rgba(0, 0, 0, 0.15);
	display: inline-block;
	position: relative;
	z-index: 1000;
	left: 0;
	float: left;
	top: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
	text-align: right;
	transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
}

.content-top .chat-add:hover {
	background: rgba(0, 0, 0, 0.1);
}

.content-top .chat-close {
	min-width: 60px;
	height: 40px;
	width: 60px;
	background: rgba(0, 0, 0, 0.15);
	float: right;
	display: inline-block;
	z-index: 1000;
	position: relative;
	right: 0;
	float: right;
	top: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: left;
    transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
}
.content-top .chat-close:hover {
	background: rgba(0, 0, 0, 0.1);
}

.content-top .chat-add i {
	line-height: 40px;
	display: inline;
	padding-right: 8px;
	color: #fff;
	font-size: 28px;
}

.content-top .chat-close i {
	line-height: 40px;
	display: inline;
	padding-left: 8px;
	color: #fff;
	font-size: 28px;
	position: relative;
}

.online-list {
	width: 90%;
	position: relative;
	z-index: 2000;
	left: 5%;
	height: 360px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	top: 16px;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
}

.hide-list {
    opacity: 0;
    z-index: -2000;
}

.online-list .panel-nav {
	width: 100%;
	height: 48px;
	background: #33b3a1;
	text-align: center;
	line-height: 48px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.online-list .panel-nav a {
	font-size: 18px;
	color: #fff;
	font-family: "Consolas", "微软雅黑", "Arial";
}

.online-list .panel-nav a.opt-close {
	color: #fff;
	font-size: 18px;
	width: 48px;
	height: 48px;
	line-height: 48px;
	position: absolute;
	top: 0;
	right: 0;
    text-decoration: none;
}

.online-list .panel-nav a.opt-multichat {
    color: #fff;
	font-size: 18px;
	width: 48px;
	height: 48px;
	line-height: 48px;
	position: absolute;
	top: 0;
	left: 0;
    text-decoration: none;
}
.online-list a {
    text-decoration: none;
}

.online-list .panel-nav a.opt-close:hover {
	color: #f00;
	background: rgba(0, 0, 0, 0.1);
}

.online-list .panel-nav a.opt-multichat:hover {
	color: #f00;
	background: rgba(0, 0, 0, 0.1);
}

.online-list .contact-list {
	height: 312px;
	background: #e8edea;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.online-list .contact-list .users-list {
	width: 100%;
	height: 100%;
    overflow-y: scroll;
}

.online-list .contact-list .users-list .user-cell {
    width: 100%;
    height: 64px;
    line-height: 64px;
}

.online-list .contact-list .users-list .user-cell .user-face {
    width: 64px;
    height: 64px;
    display: inline-block;
    float: left;
    line-height: 64px;
    font-size: 46px;
    text-align: center;
}
.online-list .contact-list .users-list .user-cell span.user-info {
    margin: 0;
    height: 64px;
    width: calc(100% - 128px);
    width: -webkit-calc(100% - 128px);
    width: -moz-calc(100% - 128px);
    display: inline-block;
    float: left;
}

.online-list .contact-list .users-list .user-cell span.user-info .user-name, .user-nick {
    width: 100%;
    height: 50%;
    display: inline-block;
    line-height: 32px;
    font-family: "Consolas", "微软雅黑", "Arial";
}

.user-name {
    font-size: 25px;
    color: #363636;
}

.user-nick {
    font-size: 14px;
    color: #999;
}

.online-list .contact-list .users-list .user-cell .opt-chat {
    width: 64px;
    height: 64px;
    display: inline-block;
    float: right;
    text-align: center;
    line-height: 64px;
    color: #9b9b9b;
    font-size: 26px;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
}

.online-list .contact-list .users-list .user-cell .opt-chat:hover {
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
}

.online-list .contact-list .users-list .user-cell:nth-child(2n-1) {
	background: #dfede5;
}

.online-list .contact-list .users-list .user-cell:hover {
    background: #fdfdfd;
}

.content-message {
	width: 100%;
	height: 320px;
	background: #f8f3f0;
	overflow-y: scroll;
}

.content-message .messages-list {
    margin-top: 24px;
    width: 100%;
}

.content-message .messages-list .message-cell {
    width: 90%;
    min-height: 64px;
    margin-bottom: 16px;
    display: inline-block;
    animation: addanimation 0.8s 1 linear;
    -moz-animation: addanimation 0.8s 1  linear;
    -webkit-animation: addanimation 0.8s 1  linear;
    -ms-animation: addanimation 0.8s 1  linear;
}

/*涓ょ娑堟伅鏉ユ簮*/

.content-message .messages-list .message-cell a.user-face {
    width: 64px;
    height: 64px;
    display: inline-block;
    float: left;
    line-height: 64px;
    text-align: center;
    font-size: 46px;
    color: #333;
}


.content-message .messages-list .message-sent a.user-face {
    float: right;
}

.content-message .messages-list .message-sent{
    background: #33b3a1;
    float: right;
    margin-right: 8px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content-message .messages-list .message-sent a.send-user {
    text-align: right;
    color: #eee;
}

.content-message .messages-list .message-recieved {
    background: #e2d2d2;
    margin-left: 8px;
    float: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content-message .messages-list .message-recieved a.send-user {
    text-align: left;
}

/*娑堟伅浜х敓鏃剁殑澧炲姞鏃剁殑鍔ㄧ敾*/

@-ms-keyframes addanimation {
    from{-ms-transform:translateY(60px);opacity: 0;}
    to{-ms-transform:translateY(0);opacity: 1;}
}
@-webkit-keyframes addanimation {
    from{-webkit-transform:translateY(60px);opacity: 0;}
    to{-webkit-transform:translateY(0);opacity: 1;}
}
@-moz-keyframes addanimation {
    from{-moz-transform:translateY(60px);opacity: 0;}
    to{-moz-transform:translateY(0);opacity: 1;}
}

@keyframes addanimation {
    from{transform:translateY(60px);opacity: 0;}
    to{transform:translateY(0);opacity: 1;}
}


.content-message .messages-list .message-cell span.message-grid {
    height: 100%;
    width: calc(100% - 75px);
    width: -webkit-calc(100% - 75px);
    width: -moz-calc(100% - 75px);
    display: inline-block;
}

.content-message .messages-list .message-cell span.message-grid a.message-time {
    height: 15px;
    font-size: 12px;
    font-family: "Consolas", "微软雅黑", "Arial";
    line-height: 15px;
    width: 100%;
    display: inline-block;
    color: #aaa;
    text-align: center;
}


.content-message .messages-list .message-sent span.message-grid a.message-time {
    color: #eee;
}

.content-message .messages-list .message-cell span.message-grid a.send-user {
    height: 15px;
    font-size: 12px;
    font-family: "Consolas", "微软雅黑", "Arial";
    line-height: 15px;
    width: 100%;
    display: inline-block;
    color: #eee;
}

.content-message .messages-list .message-cell span.message-grid a.message-content {
    min-height: 44px;
    font-size: 15px;
    font-family: "Consolas", "微软雅黑", "Arial";
    width: 100%;
    display: inline-block;
    color: #444;
    word-wrap: break-word;
}

.content-message .messages-list .message-cell span.message-grid a.message-content img {
	max-height: 120px;
	max-width: 300px;
    cursor: pointer;
}

.bottom-anchors {
    width: 100%;
    height: 5px;
    display: inline-block;
}

.content-message .messages-list .message-sent span.message-grid {
    float: right;
}

.binary-source {
    width: 100%;
    background: #ddd;
    height: 240px;
    transition: height 0.6s ease-in-out;
    -webkit-transition: height 0.6s ease-in-out;
    -moz-transition: height 0.6s ease-in-out;
    overflow: hidden;
}

.binary-source ul{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.binary-source ul li {
    width: 50%;
    height: 100%;
    display: inline-block;
    text-align: center;
    float: left;
}
.binary-source ul li:hover {
    background: #eee;
}

.binary-source ul li a{
    line-height: 240px;
    font-size: 70px;
    color: #33b3a1;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.hide-source {
    height: 0px;
}

.message-operate {
	width: 100%;
	height: 48px;
	background: #33b3a1;
	margin-bottom: 46px;
}

.message-operate .fm-message {
	width: 70%;
	height: 100%;
	float: left;
}

.message-operate .fm-message .message-input {
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.12);
	font-size: 18px;
	color: #eee;
	padding-left: 2%;
	font-family: "Consolas", "微软雅黑", "Arial";
}

.message-operate ul {
	width: 28%;
	height: 100%;
	float: right;
}

.message-operate ul li {
	float: left;
	height: 100%;
	width: 50%;
	display: inline;
	color: #eee;
	text-align: center;
	background: rgba(0, 0, 0, 0.2);
}

.message-operate ul li:hover {
	background: rgba(0, 0, 0, 0.1);
}

.message-operate ul li a {
	line-height: 48px;
	font-size: 26px;
}

.preview-img {
    position: absolute;
    z-index: 50000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    left: 0;
    top: 0;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {/* STYLES */ 
	.user-name {
    font-size: 20px;
    color: #363636;
    }

    .user-nick {
        font-size: 12px;
        color: #999;
    }
    .content-message .messages-list .message-cell span.message-grid a.message-content img {
		max-width: 200px;
	}
}