@CHARSET "UTF-8";

.login-area {
	width: 100%;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 32px;
}
.login-title {
	width: 100%;
	text-align: center;
	display: inline-block;
}

.login-title-content {
	
}
.fm-login {
	margin-top: 120px;
}

.fm-login .fm-group {
	width: 100%;
	display: block;
	height: 48px;
    border: 1px solid #999;
	margin-bottom: 40px;
}

.fm-login .fm-group a {
	width: 48px;
	height: 48px;
	font-size: 24px;
	border-right: 1px solid #ccc;
	background: #f1edea;
	display: block;
	float: left;
	line-height: 48px;
	text-align: center;
    color: #33b3a1;
}

.fm-login .fm-group input {
	height: 100%;
	width: calc(90% - 60px);
	width: -webkit-calc(90% - 60px);
	width: -moz-calc(90% - 60px);
	font-size: 1.1em;
	font-family: "Consolas", "微软雅黑", "Arial", "Heiti-TC";
	padding-left: 12px;
    transition: box-shadow 0.18 ease-in-out;
    
    -webkit-transition: box-shadow 0.18 ease-in-out;
    -moz-transition: box-shadow 0.18 ease-in-out;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
input:focus {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-modify: read-white-plaintext-only;
}

.input-focused {
    box-shadow: 0px 0px 10px rgba(47, 197, 176, 0.85);
}

.invalide-input {
    border: 1px solid #ed2323;
}

.btn-primary {
	margin-top: 32px;
	width: 100%;
}

.fm-login .bottom-content {
	width: 100%;
}

.link-register {
	width: 100%;
	display: block;
	text-align: right;
	font-size: 12px;
	color: #999;
	margin-top: 16px;
}

.link-register a[nth-child(2)] {
	
}

a {
	text-decoration: none;
	color: #999;
}

a:LINK {
	 color: #999;
}

.linker {
	width: 100%;
	height: 46px;
	background: #538bb6;
	margin-top: 20px;	
	text-align: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.linker a {
	color: #fff;
	line-height: 46px;
	font-size: 15px;
	text-align: center;
	font-family: "Consolas", "微软雅黑";
}
