.row-container {
  width: 100%;
}

.timestamp {
  color: #9E9E9E;
  font-size: 10px;
  text-align: center;
}

.user-meta-row {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
}

.msg-status {
  display: flex;
  align-items: flex-end;
}

.msg-status .read-status {
  font-size: 8px;
  padding: 0 12px;
  padding-bottom: 4px;
}


.user-meta-row .user-nick {
  margin: 0;
  margin-left: 4px;
  font-size: 10px;
  color: #757575;
  padding-left: 4px;
}

.message-content {
  display: flex;
  align-items: flex-start;
}

.message-par {
  padding: 8px 12px;
  background-color: #81D4FA;
  position: relative;
  border-radius: 4px;
}

.message-par-left::before {
  content: ' ';
  border: 6px solid #81D4FA;
  position: absolute;
  top: 6px;
  left: -10px;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  border-color: transparent #81D4FA transparent transparent;
  border-style: dashed solid dashed dashed;
}

.message-par-right::before {
  content: ' ';
  border: 6px solid #81D4FA;
  position: absolute;
  top: 6px;
  right: -10px;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  border-color: transparent transparent transparent #81D4FA;
  border-style: dashed solid dashed dashed;
}

.row-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.row-right .user-meta-row {
  margin-left: 0;
  margin-right: 10px;
}

.row-right .timestamp {
  width: 100%;
}

.row-right .user-meta-row {
  align-items: flex-end;
}

.row-right .user-nick {
  padding-left: 0;
  padding-right: 4px;
}

.message-par .image-inline {
  max-width: 160px;
  padding: 8px;
}

.message-par .file-inline {
  /* display: flex;
  align-items: center; */
}

.message-par.file-msg {
  padding: 0;
  background-color: #880E4F;
  width: 220px;
}


.file-msg.message-par-left::before {
  border-color: transparent #880E4F transparent transparent;
}
.file-msg.message-par-right::before {
  border-color: transparent transparent transparent #880E4F;
}
.message-par .file-header {
  height: 140px;
  background: #880E4F;
  border-radius: 8px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.message-par.file-msg .file-header .file-ext {
  margin-left: 20px;
  font-size: 30px;
  letter-spacing: 4pt;
  font-weight: 700;
}

.message-par.file-msg .file-header .file-icon {
  font-size: 32px;
  color: #fff;
}

.message-par.file-msg .file-op-row {
  width: 100%;
  height: 56px;
  color: #212121;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.message-par.file-msg .file-op-row a, .message-par.file-msg .file-op-row .file-link {
  color: #212121;
  line-height: 56px;
  font-size: 16px;
}

.message-par .file-inline .file-link {
  color: #212121;
  text-decoration: underline;
}

.message-par.file-msg .file-op-row .download-i {
  margin-left: 12px;
}
/* 
.message-par .file-inline .file-link::after {
  content: ' ';
  display: block;
  height: 1px;
  margin-left: 12px;
  border: .5px solid #212121;
} */

.message-par .file-inline .filename {
  margin: 0;
  margin-left: 12px;
  width: 160px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}